{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(lieuForm) }}
        {{ form_widget(lieuForm) }}
        <button>Ajouter lieu</button>
{% endblock %}

{% block title %}
    Ajouter lieu
{% endblock %}

