@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url("http://www.philippefercha.com/img/home-page.jpg") no-repeat;
    background-size: cover;
    height:100%;
}
*::-webkit-input-placeholder {
    color:#000;
}
#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:35px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top:30px;
    margin-left: -260px;
}

.feedback-input {
    color:#000;
    font-family: Montserrat, Arial, sans-serif;
    font-weight:300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom: 1px solid #000;
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    color: #000;
    outline: none;
    padding: 13px 13px 13px 13px;
}

.focused{
    color:#000;
    border:#30aed6 solid 2px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: 0px solid transparent;
    cursor:pointer;
    background-color: #000;
    color:white;
    font-size:18px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:300;
}

#button-blue:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
#sortie_nom{
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#sortie_duree{
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#sortie_lieu{
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#sortie_nbInscriptionsMax{
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#sortie_InfosSortie{
    background-color: white;
    color: #000;

    font-family: Montserrat, Arial, sans-serif;

    font-weight: 300;

    font-size: 14px;

    border-radius: 0;

    line-height: 22px;

    background-color: #fff;

    padding: 13px 13px 13px 13px;

    margin-bottom: 10px;

    width: 100%;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    -ms-box-sizing: border-box;

    box-sizing: border-box;

    border: 0px solid transparent;

    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;

    border-bottom: 1px solid #000;
    width: 100%;

    height: 150px;

    line-height: 150%;

    resize: vertical;
    font: 600 16px/18px 'Open Sans',sans-serif;

    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
button{
    background-color: #fff;

    color: #000;

    border: 1px solid #000;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    float: left;

    width: 20%;

    border: 0px solid transparent;

    cursor: pointer;

    background-color: #000;

    color: white;

    font-size: 18px;

    padding-top: 22px;

    padding-bottom: 22px;

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

    margin-top: -4px;

    font-weight: 300;
    box-sizing: border-box;
    font: 600 16px/18px 'Open Sans',sans-serif;

    font-weight: 600;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.required{
    background: #fff;
    box-shadow: 0;
    color: #000;
    outline: none;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    margin-bottom: 10px;
}
sortie_dateHeureDebut_date_month{
    position: relative;
    grid-template-columns: 1fr 1fr;
    height: 19.625rem;
    display: grid;
    gap: 2rem;
    height: 100%;
    box-sizing: inherit;
    color: rgb(12, 19, 31);
    font-size: 0.875rem;
    line-height: 1.43;
}
label{
    background: #fff;
    box-shadow: 0;
    color: #000;
    outline: none;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    margin-bottom: 10px;
}
#lieu_nom {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#lieu_rue {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#lieu_latitude {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#lieu_longitude {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#sortie_InfosSortie{
    background-color: white;
    color: #000;

    font-family: Montserrat, Arial, sans-serif;

    font-weight: 300;

    font-size: 14px;

    border-radius: 0;

    line-height: 22px;

    background-color: #fff;

    padding: 13px 13px 13px 13px;

    margin-bottom: 10px;

    width: 100%;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    -ms-box-sizing: border-box;

    box-sizing: border-box;

    border: 0px solid transparent;

    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;

    border-bottom: 1px solid #000;
    width: 100%;

    height: 150px;

    line-height: 150%;

    resize: vertical;
    font: 600 16px/18px 'Open Sans',sans-serif;

    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#lieu_ville {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#ville_nom {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#ville_codePostal {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#registration_form_pseudo {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#registration_form_nom {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#registration_form_prenom {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#registration_form_telephone {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#registration_form_eMail {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#registration_form_plainPassword {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#registration_form_campus {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#inputPseudo.form-control {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
#inputPassword.form-control {
    color: #000;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom: 1px solid #000;
    font: 600 16px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.138);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.59);
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: black;
}
img{
    height: 150px;
    max-height: 150px;
}

* {
    box-sizing: border-box;
}

tr {
    display: flex;
    flex-wrap: wrap;
}





body {
    background: #ffffff;
    font-family: 'Nunito', sans-serif;
}

a {
    color: #a28fe4;
    font-weight: 600;
    text-decoration: none;
}

.container {
    margin: 0 5%;
    margin-bottom: 200px;
}

.schedule-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
    align-items: center;
    height: 54px;
}

.schedule-title {
    color: #af9fe8;
    font-weight: 600;
    display: flex;
    flex: 1;
}

.current-time {
    color: #d7cff4;
    justify-self: flex-end;
    padding: 0 12px;
}

.schedule-header i {
    justify-self: flex-end;
    color: #bdafec;
    padding: 0 8px;
    cursor: pointer;
}

.schedule-header i:hover{
    background: #251c41;
    color: #bdafec;
    transition: 0.2s all ease-in-out;
}

.upcomping-events {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 24px;
}

.event {
    background: #312657;
    border-radius: 3px;
    height: 80px;
    color: #bdafec;
    font-weight: 600;
    font-size: 16px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    transition: 0.3s all ease-in-out;
}

.event-category1 {
    border-left: 2px solid #a3433c;
}

.event-category2 {
    border-left: 2px solid #449e3f;
}

.event-category3 {
    border-left: 2px solid #ac9c45;
}

.icon-wrapper {
    background: #251c41;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    margin-right: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, .05),
    inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}

.event-icon {
    font-size: 30px;
    height: 30px;
    display: inline;
}

.event-title {
    color: #d7cff4;
}

.event-subtitle {
    color: #af9fe8;
    font-size: 14px;
}

.event-status {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: auto;
    row-gap: 8px;
}

.event-btns {
    color: #a28fe4;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    column-gap: 4px;
}

.event-btns i{
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
}

.event-btns i:hover{
    background: #251c41;
    color: #bdafec;
    transition: 0.2s all ease-in-out;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    justify-content: flex-start;
    gap: 24px;
}

.category-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 800;
    font-size: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
}

.category-header i {
    margin-right: 8px;
}

.schedule-event {
    border-bottom: 1px solid #6e56c3;
}

.schedule-event:last-child {
    border-bottom: unset;
}

.c1 {
    background: #a3433c;
    color: #e3c7c5;
}

.c2 {
    background: #ac9c45;
    color: #ebe6cc;
}

.c3 {
    background: #449e3f;
    color: #daecd9;
}

.in-progress {
    background: #493982;
}

.event-progress {
    background: #7256d7;
    padding: 2px 4px;
    border-radius: 3px;
    color: #d7cff4;
    box-shadow: inset 0 1px 0 #cabff03b,
    0 1px 3px hsla(0, 0%, 0%, .2);
}

.event-timer {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.progress-label {
    color: #cabff0;
}

.event-wrapper {
    display: flex;
    flex-direction: column;
}

.event-info {
    background: #251c41;
    padding: 12px;
    color: #d7cff4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: none;
}

.event-desc {
    color: #d7cff4;
}

table {
    width: 100%;
    margin-top: 8px;
    border-spacing: unset;
    border-spacing: 0 12px;
}

th {
    font-weight: 600;
    color: #7a5fd9;
    padding: 8px 8px;
    background: #312657;

}

td {
    color: #cabff0 ;
    padding: 0 8px;
}

.tableheader-1 {
    text-align: left;
}

.tableheader-2 {
    text-align: right;
}

.align-right {
    text-align: right;
}

.event-wrapper.collapse > .event-info {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    display: unset;
}

.event-wrapper.collapse {
    grid-row: span 4;
}
