{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(annulationForm) }}
        {{ form_widget(annulationForm) }}
    <button>Annuler sortie</button>
    {{ form_end(annulationForm) }}

{% endblock %}

{% block title %}

{% endblock %}

