{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/sortie.css') }}"
{% endblock %}
{% block body %}
    {{ form_start(sortieForm)  }}

<div id="form-main">
    <div id="form-div">
        <form class="form" id="form1">
            {{ form_widget(sortieForm) }}
            <div class="submit">
                <button>Créer sortie</button>
                <div class="ease"></div>
                {{ form_end(sortieForm) }}
            </div>
        </form>
    </div>
    {% endblock %}
